#main
{
    width: 400px;
    margin: auto;
    background-color:rgb(27, 27, 27) ;
    color:rgb(254, 255, 255);
    /* margin-bottom: 4rem; */
}
#c1
{
    /* margin: auto; */
    margin-left: 5rem;
    padding-top: 2rem;
   
}
#c2
{
    margin: auto;
    padding-top: -2rem;
    text-align: center;
}
h2{
    margin-top: -3.5rem;
}
#c3
{
    margin:auto;
   margin-left: 1rem;
   margin-right: 1rem;
}
c4
{
    margin: auto;
    gap:0.5rem;
    /* margin-left: 4rem; */
    margin-bottom: 4rem;
}
#btn
{
    margin-left: 9rem;
    padding-bottom: 2rem;
    height: 1.5rem;
}
button
{
    
}
#b1
{
    background-color: rgb(255, 193, 52);
    color: black;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
#b2
{
    background-color: rgb(0, 124, 250);
    color:white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}